body {
    overflow-x: hidden;
}

.main-header {
    width: 100vw; 
    margin-top: -50px;
}

.main-header .slideshow-container {
  position: relative;
}

.main-header .slides {
    display: none;
    position: absolute;
    width: 100vw;
}

.main-header .slides img {
    height: auto;
    max-width: 100%;
}

.main-header .slides video {
    object-fit: cover;
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: -1;
}

.main-header .container-dots {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    margin-top: 70vh;
    right: 10%;
}

.main-header .dot {
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.main-header .active {
    background-color: #333;
}

.main-header .slide-content {
    position: relative;
    top: -550px;
    left: 20vh;
    width: 30vw;
    font-family: 'Muli', sans-serif;
}

.main-header .slide-content h1 {
    font-size: 60px;
    line-height: 1.216;
    color: #fff;
    font-weight: 700;
}

.main-header .slide-content p {
    color: #fff;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 700;
    margin: 20px 0 52px;
}

.main-header a:hover {
    text-decoration: none !important;
}

.main-header .slide-content i  {
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
}
  
.slider-animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      /* opacity: 1; */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      /* opacity: 0; */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      /* opacity: 1; */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  .slide-content-animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .none {
      display: none;
  }