.main-products {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.main-products_left-container {
    /* display: flex;
    flex-direction: column; */
    width: 65vw;
}

.main-products_left-container--top {
    display: flex;
    flex-direction: row;
}

.main-products--watches {
    position: relative;
    width: 50%;
    height: 315px;
}

.main-products--watches-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 101%;
    min-height: 100%;
}

.main-products--trackers {
    position: relative;
    width: 50%;
    height: 315px;

}

.main-products--trackers-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 101%;
    min-height: 100%;
}

.main-products--headphones {
    position: relative;
    margin-top: -20px;
    
}

.main-products--headphones-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 101%;
    min-height: 100%;
}

.main-products--earphones {
    position: relative;
    width: 35vw;
}

.main-products--earphones-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 101%; 
    height: 139%;
}