.main-products {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
    z-index: 998;
}

.main-products_left-container {
    width: 65vw;
}

.main-products_left-container--top {
    display: flex;
    flex-direction: row;
    height: auto;
    /* margin-top: 50px; */
}

.main-products--watches {
    width: 50%;
    /* height: 50%; */
}

.main-products--watches-image {
    width: 105%;
    min-height: 100%;
    transition: left ease-in-out  2s;
    height: auto;
}

.main-products--watches:hover .main-products--watches-image  {
    /* position: absolute;
    top: 0;
    bottom: 0; */
    left: 0 !important;
    /* right: 1px; */
    transition: left ease-in-out 2s;
}

.main-products--trackers {
    width: 50%;
    /* height: 50%; */

}

.main-products--trackers-image {
    width: 101%;
    min-height: 100%;
    height: auto;
}

.main-products--headphones {
    height: 40vh;
}

.main-products--headphones-image {
    width: 101%;
    min-height: 100%;
}

.main-products--earphones {
    width: 35vw;
    height: 630px;
}

.main-products--earphones-image {
    width: 101%; 
    height: auto;
}