* {
	margin: 0;
	padding: 0;
}

.main-container {
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
}

.logo {
	background-color: #fe5a1a;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;

}

.logo img {
	width: 130px;
}

.main-menu ul {
	height: 80px;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	padding-left: 20px;
}

.main-menu ul li { 
	list-style: none;
	padding-left: 15px;
    padding-right: 15px;
	font-size: 14px;
	letter-spacing: .7px;
    font-weight: bold;
    color: #777;
    font-family: 'Muli', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-menu ul li i {
	font-weight: bold;
}

/*Codul de jos a incetat sa functioneze pentru ca noi a schimbat structura fisierului HTML
inainte era: 
	div
		ul
			li
 acum e:
	div
		ul
			li
				a
*/

.main-menu ul li:nth-child(6) a {
	color: #fe5a1a;
}

.main-menu ul li a {
	color: #777;
	text-decoration: none;
}

.main-menu ul li span  {
	position: absolute;
	margin-top: -15px;
    background: #fc2a2e;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    font-weight: bold;
}

.icons {
	padding-right: 58px;
    margin-left: auto;
    display: flex;
	justify-content: center;
	align-items: center;
}

.icons ul li i {
	/*Codu ista nu face nimic */
	/* padding-bottom: 0px;
    padding-top: 0px; */
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    height: 100%;
    display: flex;
	align-items: center;
	/*Codu ista nu face nimic */
    /* margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; */
   }

.icons ul {
	display: flex;
	flex-direction: row; 
}

.icons ul li i  {
	font-weight: bold;
    color: #fe5a1a;
}

.icons ul li {
	list-style: none;
}

.icons ul li a {
	text-decoration: none;
}

/* In 'best practices in css' se recomanda sa ordonezi clasele in descrestere,
de exemplu:

.icons {
	padding-right: 58px;
    margin-left: auto;
    display: flex;
	justify-content: center;
	align-items: center;
}

.icons ul {
	display: flex;
	flex-direction: row; 
}

.icons ul li {
	list-style: none;
}

.icons ul li a {
	text-decoration: none;
}

Clasele de mai jos sunt aceleasi, 
trebuie sa faci din doua una.

.icons ul li i {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    height: 100%;
    display: flex;
	align-items: center;
   }

.icons ul li i  {
	font-weight: bold;
    color: #fe5a1a;
} */

/* icoanele nu sunt pe aceeasi linie cu textul meniul
indiciu foloseste padding sau margin */

/* Te las sa gasesti cum sa schimbi culoarea la ultima icoana */

/*Si printre altele, ai facut treaba buna ;)*/
