 * {
	margin: 0;
	padding: 0;
}

.main-container {
	width: 100vw;
	height: 80px;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	z-index: 999;
    position: relative;
}

.main-container .logo {
	background-color: #fe5a1a;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;

}

.main-container .logo img {
	width: 130px;
}


.main-container .main-menu > ul {
	height: 80px;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
    padding-left: 20px;
}

.main-container .main-menu > ul > li { 
	list-style: none;
	padding-left: 15px;
    padding-right: 15px;
	font-size: 14px;
	letter-spacing: .7px;
    font-weight: bold;
    color: #777;
    font-family: 'Muli', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-container .main-menu > ul > li > i {
	font-weight: bold;
}

.main-container .main-menu > ul > li:nth-child(6) > a {
	color: #fe5a1a;
}

.main-container .main-menu > ul > li > a {
	color: #777;
	text-decoration: none;
}

.main-container .main-menu > ul > li > span  {
	position: absolute;
	margin-top: -15px;
    background: #fc2a2e;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    font-weight: bold;
}

.main-container .icons {
	padding-right: 58px;
    margin-left: auto;
    display: flex;
	justify-content: center;
	align-items: center;
}

.main-container .icons ul {
    padding-top: 10px;

	display: flex;
	flex-direction: row; 
}

.main-container .icons ul li {
	list-style: none;
}

.main-container .icons ul li i {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    height: 100%;
    display: flex;
	align-items: center;
	font-weight: bold;
    color: #fe5a1a;
   }

.main-container .icons ul li a {
	text-decoration: none;
}

.main-container .icons ul li:nth-child(1) a i {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}

.main-container .icons ul li:nth-child(5) a i{
	color: #777;
}

.main-header{
    /*position:;*/
    height: 80vh;
    width: 100vw;
}

.main-header img {
    /* position:; */
}

.main-container .dropdown-home {
position: relative;
display: inline-block;

}

.main-container .dropdown-home-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;
    left: -30px;
    width: 280px;
    padding: 40px;
}

.main-container .dropdown-home-content a {
	 color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.main-container .dropdown-home:hover .dropdown-home-content {
    display: block;
}

.main-container .dropdown-COLECTIONS {
display: inline-block;
}

.main-container .dropdown-COLECTIONS-content{
   width: 100vw;
   height: 11px; 
   display: none;
   top: 80px;
   position: absolute;
   z-index: 112;
   left: 0px;                                  
}



.main-container .dropdown-COLECTIONS-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.main-container .dropdown-COLECTIONS:hover .dropdown-COLECTIONS-content .column {
    display: block;
}

.main-container .dropdown-features {
    position: relative;
    display: inline-block;
}

.main-container .dropdown-COLECTIONS-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.main-container .dropdown-COLECTIONS:hover .dropdown-COLECTIONS-content {
    display: block;
}

.main-container .column {
    float: left;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.main-container .column:nth-child(1) { 
    width: 25%;  
}

.main-container .dropdown-features-content {
    display: none;
    text-decoration: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;
    left: -22px;
    width: 250px;
    padding: 40px;
    padding-top: 35px;
}

.main-container .dropdown-features-container {
    display: inline-block;
    list-style: none;
}

.main-container .dropdown-features-content i {
    position: absolute;
}

.main-container .dropdown-features-content a {
    list-style: none;
    color: black;
    padding: 5px 16px;
    display: block;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
}

.main-container .dropdown-features:hover .dropdown-features-content {
    display: block;
}

.main-container .dropdown-features-content a i {   
margin-left: 10px;
padding-top: 0px;
}



.dropdown-collection {
    position: relative;
}

.dropdown-collection-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f1f1f1;
    top: -35px;
    left: 210px;
    width: 250px;
}

.dropdown-collection:hover .dropdown-collection-content {
    display: block;
}


.dropdown-Productpage {
    position: relative;
}

.dropdown-Productpage-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f1f1f1;
    top: -35px;
    left: 210px;
    width: 250px;
}

.dropdown-Productpage:hover .dropdown-Productpage-content {
    display: block;
}

.dropdown-Product-options {
    position: relative;
}

.dropdown-Product-options-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f1f1f1;
    top: -35px;
    left: 210px;
    width: 270px;
}

.dropdown-Product-options:hover .dropdown-Product-options-content {
    display: block;
}

.dropdown-Blog-variants {
    position: relative;
}

.dropdown-Blog-variants-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f1f1f1;
    top: -35px;
    left: 150px;
    width: 270px;
}

.dropdown-Blog-variants:hover .dropdown-Blog-variants-content {
    display: block;
}


.dropdown-Article-variants {
    position: relative;
    display: inline-block;
}

.dropdown-Article-variants-content {
    position: absolute;
    display: none;
    left: 0;
    background-color: #f1f1f1;
    top: -35px;
    left: 210px;
    width: 270px;
    z-index: 11;
}

.dropdown-Article-variants:hover .dropdown-Article-variants-content {
    display: block;
}
